/* Main Page */

.main-img img {
	width: 170px;
	height: 240px;
}

.navbar {
	word-spacing: 50px;
}

.navbar a {
	font-size: 20px;
	color: black;
}

.navbar a:hover {
	color: black;
}

.col-md-1 {
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.top {
	padding-top: 30px;
	padding-bottom: 30px;
}

.site-footer {
    font-family: myvg;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    text-transform: none;
    width: 100%;
    clear: both;
    display: block;
}