/* Main Page */

.main-img img {
	width: 170px;
	height: 240px;
}

.navbar {
	word-spacing: 50px;
}

.navbar a {
	font-size: 20px;
	color: black;
}

.navbar a:hover {
	color: black;
}

.contact-page {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    padding-top: 10px;
    max-width: 800px;
    width: 100%;
    line-height: 40px;
}

.contact-page a {
    color: #000000;
    text-decoration: underline;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: 30px;
    padding-top: 0px;
    text-transform: none;
}

.contact-page a:hover {
    color: #000;
}

.site-footer {
    font-family: myvg;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    text-transform: none;
    width: 100%;
    clear: both;
    display: block;
}